<svg viewBox="0 0 902 327" class="svg-content" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="agile-workflow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <rect id="sprint-background" stroke="#979797" fill="#F1EDE2" sketch:type="MSShapeGroup" x="1" y="1" width="900" height="325" rx="8"></rect>
        <g class="scrum-event" ng-click="open('sprintPlanning')">
            <circle id="sprint-planning-oval" stroke="#979797" fill="#51A1C4" sketch:type="MSShapeGroup" cx="71" cy="221" r="45"></circle>
            <text id="Sprint" sketch:type="MSTextLayer" font-family="Arial" font-size="13" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
                <tspan x="51.3" y="217">Sprint</tspan>
                <tspan x="41.9" y="233">Planning</tspan>
            </text>
        </g>
        <rect id="daily-work-background" stroke="#979797" fill="#F1EDE2" sketch:type="MSShapeGroup" x="166" y="21" width="485" height="275" rx="8"></rect>
        <g class="scrum-event" ng-click="open('sprintReview')">
            <circle id="sprint-review-oval" stroke="#979797" fill="#51A1C4" sketch:type="MSShapeGroup" cx="725" cy="221" r="45"></circle>
            <text id="Sprint1" sketch:type="MSTextLayer" font-family="Arial" font-size="13" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
                <tspan x="704.8" y="217">Sprint</tspan>
                <tspan x="700.9" y="233">Review</tspan>
            </text>
        </g>
        <g class="scrum-event" ng-click="open('sprintRetrospective')">
            <circle id="sprint-retrospective-oval" stroke="#979797" fill="#51A1C4" sketch:type="MSShapeGroup" cx="844" cy="221" r="45"></circle>
            <text id="Sprint2" sketch:type="MSTextLayer" font-family="Arial" font-size="12" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
                <tspan x="828" y="217">Sprint</tspan>
                <tspan x="805" y="232">Retrospective</tspan>
            </text>
        </g>
        <g class="scrum-event" ng-click="open('dailyScrum')">
            <circle id="daily-scrum-oval" stroke="#979797" fill="#51A1C4" sketch:type="MSShapeGroup" cx="249" cy="221" r="40"></circle>
            <text id="Daily" sketch:type="MSTextLayer" font-family="Arial" font-size="13" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
                <tspan x="233" y="217">Daily</tspan>
                <tspan x="228" y="232">Scrum</tspan>
            </text>
        </g>
        <g class="scrum-event" ng-click="open('tdd')">
            <rect id="tdd-background" stroke="#979797" fill="#F1EDE2" sketch:type="MSShapeGroup" x="341" y="41" width="290" height="235" rx="8"></rect>
            <circle id="write-test-oval" stroke="#979797" fill="#51A1C4" sketch:type="MSShapeGroup" cx="410" cy="226" r="35"></circle>
            <circle id="test-fails-oval" stroke="#979797" fill="#51A1C4" sketch:type="MSShapeGroup" cx="560" cy="226" r="35"></circle>
            <circle id="write-code-oval"  stroke="#979797" fill="#51A1C4" sketch:type="MSShapeGroup" cx="485" cy="126" r="35"></circle>


            <text id="Refactor" sketch:type="MSTextLayer" font-family="Arial" font-size="14" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
                <tspan x="380" y="230">Refactor</tspan>
            </text>
            <text id="fail" sketch:type="MSTextLayer" font-family="Arial" font-size="14" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
                <tspan x="472" y="130">Fail</tspan>
            </text>
            <text id="pass" sketch:type="MSTextLayer" font-family="Arial" font-size="14" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
                <tspan x="545" y="230">Pass</tspan>
            </text>
        </g>

        <path d="M118.5,223.5 L160.5,223.5" id="planning-scrum-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="planning-scrum-line-decoration-1" d="M161.5,223.5 L150.7,220.5 L150.7,226.5 L161.5,223.5 Z" stroke="#979797" stroke-width="3" stroke-linecap="square"></path>

        <!--Dailywork-->
        <path d="M289.5,223.5 L336.5,223.5" id="scrum-tdd-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="scrum-tdd-line-decoration-1" d="M337,223.5 L326.7,220.5 L326.7,226.5 L337,223.5 Z" stroke="#979797" stroke-width="3" stroke-linecap="square"></path>

        <!--TDD toward top-->
        <path d="M429,193.5 L458.8,157.2" id="write-fails-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="write-fails-line-decoration-1" d="M459.5,155.5 L451.2,161.3 L456.1,165.4 L459.5, 155.5 Z" stroke="#979797" stroke-width="3" stroke-linecap="square"></path>

        <!--TDD toward right-->
        <path d="M511.5,153.5 L539,191" id="fails-code-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="fails-code-line-decoration-1" d="M540.3 192.3 L537.3,183.1 L532.1,187.3 L540.3,192.3 Z" stroke="#979797" stroke-width="3" stroke-linecap="square"></path>

        <!--TDD toward left-->
        <path d="M520.5,225.5 L450,225.7" id="pass-write-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="pass-write-line-decoration-1" d="M448.68,225.68 L458.2,228.4 L458.4,222.2 L448.68,225.68 Z" stroke="#979797" stroke-width="3" stroke-linecap="square"></path>

        <!--arrow toward sprint review-->
        <path d="M651.5,221.5 L675,221.5" id="tdd-review-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="tdd-review-line-decoration-1" d="M676.5,221.5 L665.7,218.5 L665.7,224.5 L676.5,221.5 Z" stroke="#979797" stroke-width="3" stroke-linecap="square"></path>

        <path d="M770.5,220.5 L794,220.5" id="review-retrospective-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="review-retrospective-line-decoration-1" d="M795.5,220.5 L784.7,217.5 L784.7,223.5 L795.5,220.5 Z" stroke="#979797" stroke-width="3"stroke-linecap="square"></path>

        <!--line bottom-->
        <path d="M845.5,270 L845.5,311.5" id="retro-down-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path d="M845.5,314.5 L72.4683059,314.5" id="retro-across-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path d="M71.5,313.5 L71.5,274" id="retro-up-line" stroke="#979797" stroke-width="3" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <path id="retro-up-line-decoration-1" d="M71.5,272.5 L68.5,283.06 L74.5,283.06 L71.5,272.5 Z" stroke="#979797" stroke-width="3" stroke-linecap="square"></path>

        <rect id="agile-sprint-background" fill="#DC8061" sketch:type="MSShapeGroup" x="15" y="31" width="120" height="32"></rect>
        <text id="Agile-Sprint" sketch:type="MSTextLayer" font-family="Helvetica" font-size="18" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
            <tspan x="24.5" y="54">Agile Sprint</tspan>
        </text>
        <rect id="daily-work-background1" fill="#DC8061" sketch:type="MSShapeGroup" x="192" y="45" width="115" height="32"></rect>
        <text id="Daily-Work" sketch:type="MSTextLayer" font-family="Helvetica" font-size="18" font-weight="bold" sketch:alignment="middle" fill="#FFFFFF">
            <tspan x="203" y="69">Daily Work</tspan>
        </text>
        <rect id="tdd-background1" fill="#DC8061" sketch:type="MSShapeGroup" x="370" y="50" width="235" height="32"></rect>
        <text id="TDD" sketch:type="MSTextLayer" font-family="Helvetica" font-size="18" font-weight="bold" fill="#FFFFFF">
            <tspan x="380" y="72">Test Driven Development</tspan>
        </text>
    </g>
</svg>