/* =============== flowchart ===============*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 40%;
    vertical-align: top;
    overflow:hidden;
}

.svg-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


#logo{
	font-weight:bold;
	font-size:36px;
}
#subtitle{
	font-weight:bold;
	font-size:24px;
}

.scrum-event {
    cursor: pointer;
}

.scrum-event:hover circle {
    fill: #58c5f3;
}

.scrum-event:hover rect {
    fill: #f7f4ee;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.carousel-inner {
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid rgb(151, 151, 151)
}

.carousel-inner img {
    float: left;
    padding: 10px;
}

.carousel-caption {
    color: black;
    text-shadow: none;
    position: static;
    text-align: left;
}

.carousel-control.tools-slider{
    color: black;
    background-image: none; !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 20%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
    right: 20%;
}

