/* =============== flowchart ===============*/
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 40%;
    vertical-align: top;
    overflow:hidden;
}

.svg-content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


#logo{
	font-weight:bold;
	font-size:36px;
}
#subtitle{
	font-weight:bold;
	font-size:24px;
}

.scrum-event {
    cursor: pointer;
}

.scrum-event:hover circle {
    fill: #58c5f3;
}

.scrum-event:hover rect {
    fill: #f7f4ee;
}
